body {
    font-family: sans-serif;
    font-size:20px;
    background-color: rgb(160, 236, 255);
}
header {
   border: 3px solid blue;
    border-radius: 12px;
    padding: 5px;
}
a {
    background-color: rgb(0, 0, 230);
    color:white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
    margin: 3px;
    font-size: 20px;
}
h1 {
   text-align: center; 
   border: 3px solid rgb(70, 193, 235);
   border-radius: 5px;
}
main {
    margin: 10px;
    padding: 8px;
}
footer {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 3px;
    border: 3px solid navy;
    text-align: center;
}
nav {
    margin: 10px;
    padding: 5px;
    text-align: center;
}
nav a {
    text-decoration: none;
    margin: 15px;
    border: 3px solid rgb(0, 102, 255);
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(0, 174, 255);
}
select {
    background-color: rgb(8, 216, 231);
    color: white;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}
.prod{
    background-color: rgb(0, 153, 255);
    border: 3px solid rgb(0, 119, 255);
    border-radius: 8px;
    padding: 5px;
    color: white;
}
h2 {
    color:rgb(0, 63, 156);
}
